
.nav-ul{
  margin-top: auto;
  width: 97%;
  background-color: skyblue;

}

.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {

  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.nav-right{
  text-align: right;
}


.login {
margin-left: 30%;
}

.signup, .product{
  margin-left: 30%;
  
}

.inputBox{
  
  display: block;
  padding: 10px;
  border: 1px solid;
  width: 300px;
  margin: 30px;

}

.appButton{
 margin:30px;
 width: 150px;
 padding: 10px;
 background-color: skyblue;
 border: 1px solid;
 cursor: pointer;
  
}

.footer{

  position: absolute;
  bottom: 0;
  background-color: skyblue;
  width: 100%;
  text-align: center;
}

.dropdown-container {
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
}

.dropdown-input {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}


.dropdown-menu{
  position:absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;

}
.dropdown-item{
  padding:5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: bisque;
}

.invalid-input{
  display: block;
  color: red;
  margin-top: -30px;
  margin-left: 30px;
}

.product-list{
  text-align: center ;
}

.product-list ul li{
  display: inline-block;
  width:150px;
  border: 1px solid skyblue;
  padding: 5px;
}

.product-list ul{
  margin: 0;
}

.input-search{

  width: 400px;
  margin:25px;
  height: 38px;
  padding-left: 40px;
  border:solid 2px skyblue;
}